.hover-card {
    transition-duration: 300ms;
    transition-property: transform, box-shadow;
    transition-timing-function: ease-out;
    transform: rotate3d(0,0,0,0);
    border-radius: 20px;
}

.hover-card:hover {
    border-radius: 20px;
    transition-duration: 150ms;
    box-shadow: 0 5px 20px 5px #00000044;
}

.hover-card .glow {
    position: absolute;
    z-index: -999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-image: radial-gradient(circle at 50% -20%, rgba(241, 189, 241, 0), #0000000f);
}