body {
    background: linear-gradient(0deg, #ffffff, #ff623f)  no-repeat;
    background-size: cover;
}

.main-logo {
    width: 100px;
    display: flex;
    margin: auto;
}

.main-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.youtube-downloader {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}