body {
    background: linear-gradient(0deg, #ffffff, #ff623f)  no-repeat;
    background-size: cover;
    font-family: Arial;
    font-weight: bold;
}

.center-text {
    text-align: center;
}

.made-by {
    margin-top: 100px;
}

.download-status {
    animation: pulse-fade 1s infinite;
}

.main-logo {
    width: 100px;
    display: flex;
    margin: auto;
    transition: all 0.2s;
    margin-top: 20px;
}

.main-logo:hover {
    transform: scale(1.2);
}

.main-container {
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.youtube-downloader {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

.pulse {
    animation: pulse 5s infinite;
}

/*Animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 60, 194, 0.7);
    }

    70% {
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}

@keyframes pulse-fade {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 0.9;
    }

    70% {
        opacity: 0.9;
        transform: scale(1.1);
    }

    100% {
        opacity: 0.3;
    }
}