body {
    background: linear-gradient(0deg, #ffffff, #ff623f)  no-repeat;
    background-size: cover;
}

.main-logo {
    width: 100px;
    display: flex;
    margin: auto;
}

.main-container {
    margin: auto;
    display: flex;
    justify-content: center;
}

.youtube-downloader {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    backdrop-filter: blur(30px);
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}

.pulse {
    animation: pulse 2s infinite;
}

/*Animations*/

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 60, 194, 0.7);
    }

    70% {
        box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}